@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-Regular.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-RegularItalic.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-Light.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-Medium.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-SemiboldItalic.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-Bold.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text'), url('https://github.com/T3RRY4/small-changes-ds-theme/blob/master/SFUIText-HeavyItalic.woff') format('woff');
}

:root {
    --font: 'SF UI Text', sans-serif !important;
    --accentcolor: 56,137,217;		/* blurple - default: 114,137,218 */
	--linkcolor: 56,137,217;			/* link - default: 0,176,244 */
}
body {
    font-family: 'SF UI Text', sans-serif !important
}
input[type="text"] {
    font-family: 'SF UI Text', sans-serif !important
}
::placeholder {
    font-family: 'SF UI Text', sans-serif !important
}
code {
    font-family: 'Fira Mono', monospace !important
}
.theme-dark .edited-DL9ECl {
    display: none;
}
.welcomeMessage-3_Mcht {
    display: none;
}
